{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>Georgia Tech’s premier digital library designed exclusively for students. Dive into a rich collection
           of academic texts, literary classics, research materials, and niche publications that span disciplines and interests.</p>
        <p>Explore thousands of titles with ease, from foundational textbooks to rare scholarly works. Whether you're 
          brushing up for exams or diving deep into a passion project, our platform makes it simple to browse, access, and 
          read books instantly.</p>
        <p>Enjoy seamless access across your favorite devices — laptop, tablet, or smartphone — and let our smart search and 
          personalized recommendations guide your next great read. At Yellow Jacket Archives, learning is always just a click away.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/aboutimg.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}