{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Yellow Jacket Archives</h2>
    <p>Georgia Tech's Premier Digital Library</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>insert some pictures of books here</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}