{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 mx-auto mb-3">
        <h2>{{ template_data.book.title }}</h2>
        <hr />
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center p-3">
              {% if template_data.book.image %}
              <img src="{{ template_data.book.image.url }}" class="img-fluid rounded" alt="{{ template_data.book.title }}">
              {% else %}
              <img src="{% static 'img/book-placeholder.png' %}" class="img-fluid rounded" alt="no-image">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ template_data.book.title }}</h5>
                <p class="card-text"><strong>Author:</strong> {{ template_data.book.author }}</p>
                <p class="card-text"><strong>Genre:</strong> {{ template_data.book.genre }}</p>
                <p class="card-text"><strong>Published:</strong> {% if template_data.book.publication_year %}{{ template_data.book.publication_year }}{% else %}N/A{% endif %}</p>
                <p class="card-text"><strong>Availability:</strong> {% if template_data.book.available %}Available{% else %}Checked out{% endif %}</p>
                <p class="card-text"><strong>Summary:</strong></p>
                <p class="card-text">{{ template_data.book.summary|linebreaks }}</p>
                <a href="{% url 'books.index' %}" class="btn btn-secondary">Back to list</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
