{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>My Holds</h2>
        <hr />
        {% if template_data.holds %}
        <div class="card mb-4">
          <div class="card-body">
            <table class="table table-bordered table-striped text-center mt-3">
              <thead>
                <tr>
                  <th scope="col">Hold ID</th>
                  <th scope="col">Order ID</th>
                  <th scope="col">Book</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Borrowed Date</th>
                </tr>
              </thead>
              <tbody>
                {% for item in template_data.holds %}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.order.id }}</td>
                  <td>
                    <a class="link-dark" href="{% url 'movies.show' id=item.movie.id %}">
                      {{ item.movie.name }}
                    </a>
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.order.date }}</td>
                  <td>
                    <form method="post" action="{% url 'accounts.mark_returned' item_id=item.id %}">
                      {% csrf_token %}
                      <button class="btn btn-sm btn-success" type="submit">Mark returned</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
        <p>You have no holds at the moment.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}