/*
.bg-index{
  background: url("/static/img/backgroundnew.webp") no-repeat fixed;
  background-size: 100% auto;
}
*/

.bg-index {
  background: url("/static/img/backgroundnew.webp") no-repeat center center;
  background-size: cover;        /* scale to cover element, keeps aspect ratio */
  background-attachment: scroll; /* use 'scroll' for normal scrolling; keep 'fixed' for parallax */
  min-height: 60vh;              /* make header take 60% of viewport height */
  display: flex;
  align-items: center;           /* vertically center contents */
}

.bg-index h2 {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.img-card-200 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

/* Utility used in about page to limit image size. Reduced from 100% to 70% for a smaller display */
.max-width-100 {
  max-width: 70%;
  height: auto;
}