/*
.bg-index{
  background: url("/static/img/backgroundnew.webp") no-repeat fixed;
  background-size: 100% auto;
}
*/

.bg-index {
  background: url("/static/img/backgroundnew.webp") no-repeat center center;
  background-size: cover;        /* scale to cover element, keeps aspect ratio */
  background-attachment: scroll; /* use 'scroll' for normal scrolling; keep 'fixed' for parallax */
  min-height: 60vh;              /* make header take 60% of viewport height */
  display: flex;
  align-items: center;           /* vertically center contents */
}

.bg-index h2 {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.navbar a.nav-link {
  color: #B3A369 !important;
}

.navbar-brand {
  color: #B3A369 !important;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-brand img {
  height: 100px !important;
}

.brand-text {
  display: flex;
  flex-direction: column;
}

.brand-text h1 {
  color: #B3A369;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.brand-text p {
  color: #B3A369;
  margin: 0;
  font-size: 0.9rem;
}

.text-gold {
  color: #B3A369 !important;
}

.border-gold {
  border-color: #B3A369 !important;
}

.bg-dark {
  background-color: #003057 !important;
}

.ms-footer {
  background-color: #003057;
}

.ms-footer p {
  color: #B3A369;
  font-size: 13px;
}

.ms-footer a {
  color: #B3A369;
}

.ms-footer a:hover {
  color: #B3A369;
  text-decoration: none;
}

.ms-footer-bottom span{
  color: #B3A369;
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #B3A369;
}

.ms-footer a {
  color: #B3A369;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #B3A369;
}

.img-card-200 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

/* Utility used in about page to limit image size. Reduced from 100% to 70% for a smaller display */
.max-width-100 {
  max-width: 70%;
  height: auto;
}